.search-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-menu {
  display: flex;
  flex-direction: column;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

::ng-deep .mat-menu-panel {
  padding: 0 10px !important;
  width: 100% !important;
  max-width: none !important;
}
