<div class="container">
  <!-- Panel search bar -->
  <div class="search-bar mat-elevation-z1">
    <cart-search (search)="searchCart($event)"></cart-search>
  </div>
  <div class="content">
    <mat-spinner
      *ngIf="isLoading"
      style="margin: 25% auto;"
      strokeWidth="3"
      [diameter]="50"
    ></mat-spinner>
    <!-- Cart List -->
    <mat-action-list *ngIf="!showDetails && !isLoading" dense>
      <cart-item
        *ngFor="let cart of carts"
        [cart]="cart"
        (click)="selectCart(cart)"
      ></cart-item>
    </mat-action-list>
    <cart-details
      [cart]="selectedCart"
      [(opened)]="showDetails"
      (closed)="selectedCart = null"
    ></cart-details>
  </div>
</div>
