<div class="list-container">
  <div class="list-search-bar mat-elevation-z1">
    <app-search-bar
      #srchBar
      inputLabel="Cart Search"
      filterLabel="Contains"
      [searchOptions]="searchOptions"
      [filterOptions]="filterOptions"
      (search)="searchCart(srchBar.value, srchBar.searchBy, srchBar.filterBy)"
    ></app-search-bar>
  </div>
  <div class="list-content">
    <mat-action-list dense>
      <app-cart-item
        *ngFor="let cart of carts"
        [cart]="cart"
        (cartSelect)="cartSelect($event)"
      ></app-cart-item>
    </mat-action-list>
  </div>
</div>
