<h2 mat-dialog-title>Register Cart</h2>
<mat-dialog-content>
  <div [formGroup]="cartReg">
    <p>
      Enter the Decawave identifier. Enter all capitals after xDECA.
    </p>
    <mat-form-field hintLabel="Ex. xDECA01234J0ZJ9T">
      <mat-label>Decawave Id</mat-label>
      <input
        matInput
        maxlength="17"
        formControlName="TagAddress"
        placeholder="Enter Decawave identifier"
      />
      <mat-error *ngIf="cartReg.get('TagAddress').invalid">{{
        tagErrMsg()
      }}</mat-error>
    </mat-form-field>
    <p>
      Give the cart an unique name for identification purposes.
    </p>
    <mat-form-field hintLabel="Ex. md_cart3">
      <mat-label>Cart Name</mat-label>
      <input
        matInput
        maxlength="16"
        formControlName="CartName"
        placeholder="Enter Cart name"
      />
      <mat-error *ngIf="cartReg.get('CartName').invalid">
        {{ nameErrMsg() }}</mat-error
      >
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-flat-button (click)="close()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="register()"
    [disabled]="cartReg.invalid"
  >
    Register
  </button>
</mat-dialog-actions>
