<div class="app-header">
  <mat-toolbar color="primary">
    <span>ICTS</span>
    <span class="fill-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <span>Cart Manager</span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="registerCart()">
      <mat-icon>add</mat-icon>
      <span>Register Cart</span>
    </button>
    <button mat-menu-item (click)="updateCart()">
      <mat-icon>update</mat-icon>
      <span>Update Cart</span>
    </button>
    <button mat-menu-item (click)="deleteCart()">
      <mat-icon>delete_outline</mat-icon>
      <span>Delete Cart</span>
    </button>
  </mat-menu>
</div>
