<div *ngIf="opened && cart">
  <button mat-icon-button (click)="close()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span style="font-size: small;">Back to carts</span>
  <mat-list>
    <mat-list-item>Cart: {{ cart.cartName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Tag address: {{ cart.tagAddress }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Location: {{ cart.siteName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item
      >Last updated: {{ cart.lastUpdated | date: "short" }}</mat-list-item
    >
    <mat-divider></mat-divider>
    <mat-list-item
      >Expired products: {{ cart.expiredWarningCount }}</mat-list-item
    >
    <mat-divider></mat-divider>

    <mat-list-item
      >Products soon to expire:
      {{ cart.nearExpirationDateWarningCount }}</mat-list-item
    >
    <mat-divider></mat-divider>

    <mat-list-item
      >Location mismatch: {{ cart.discrepancyExists }}</mat-list-item
    >
  </mat-list>
</div>
