<h3>Cart List</h3>
<div id="cart-list">
  <ul>
    <li *ngFor="let cart of carts" (click)="onCartSelect(cart)">
      Cart #{{ cart.id }}
    </li>
  </ul>
</div>

<div *ngIf="selectedCart" id="product-list">
  <input [(ngModel)]="searchText" placeholder="Product search" />
  <ul>
    <li *ngFor="let product of products | productSearch: 'lotId':searchText">
      {{ product.lotId }} | {{ product.productName }}
    </li>
  </ul>
</div>

<!-- The component way to do it -->
<!-- <app-cart-list></app-cart-list> -->

<!-- <app-product-list
  *ngIf="selectedCart"
  [cartId]="selectedCart.id"
></app-product-list> -->
