<div class="center-card login">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to 4JTronic's ICTS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content" [formGroup]="login">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Login</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
