<div *ngIf="opened && product">
  <mat-list>
    <mat-list-item>Lot id: {{ product.lotId }}</mat-list-item>
    <mat-list-item>Product name: {{ product.productName }}</mat-list-item>
    <mat-list-item
      >Expiration date:
      {{ product.expirationDate | date: "short" }}</mat-list-item
    >
    <mat-list-item
      >Virtual location: {{ product.virtualSiteName }}</mat-list-item
    >
    <mat-list-item
      >Location mismatch:
      {{ product.discrepancyExists ? "Yes" : "No" }}</mat-list-item
    >
  </mat-list>
</div>
